/*详情页样式的修正
by takeashower
2013/7/17 1:19:54
*/

	/*头部放工具条即多个按钮，立即有问题，shit jqm*/
	.my-page2 #mytitle{margin-top:-30px;}
	.my-page2 a.ui-btn-right{margin-top:0.5em;top:0px;}
	#username{top:0;}
	/*字少，所以缩小宽度；同时不挤开导航头*/
	.ui-panel{top:35px;}
	/*导航部分不右移*/
	#myhead{left:0px;}
	.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal{-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);}
		
	/*修正内容右移距离*/
	.ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal{
		-webkit-transform: translate3d(17em,0,0);
		-moz-transform: translate3d(17em,0,0);
		transform: translate3d(17em,0,0);}
		


.ui-content{
	width:100%;
	margin:0em 2% 0em 2%;
}
.ui-content .option{	
	margin-bottom: 1em;
	margin-right: .6em;
	text-decoration: none;
	padding-right: 2em;
	width: 18px;
}
.ui-link span{
	display: inline-block;
	margin-top: 1px;
	margin-left: 10px;
}
#info{
	font-size:14px;
	margin:-10px 0;
	color:gray;
	text-align:right;
	}
#info span{color:black}

	.datanode fieldset{
		font-weight:400;
	}
	.datanode fieldset div span{
		font-weight:800;
	}
.ui-table-columntoggle-btn{margin-top:-48px;}
.datanode{ margin-top:23px;}	
.ui-grid-b.ui-responsive label{padding-right:5px;font-size:14px;}  
.ui-grid-b.ui-responsive span{font-weight:800;font-size:14px}
.ui-listview .ui-li label{font-weight:400;color:gray;} 
.myfilter .btntip{font-size: 9px;color: gray;padding-left:3px;position: absolute; top:5px;
	/*-webkit-border-radius: .5em;
border-radius: .5em;-webkit-background-clip: padding;
background-clip: padding-box;border: 1px solid #ccc;padding: .2em .5em;right:0*/}
.myfilter{margin-top: 20px; position: relative;}
.datanode .mytitle{margin-top: -23px; position: relative; width: 100%;}

@media (min-width:35em){

	/* wrap on wide viewports once open */
	
	.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-left,
	.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-left {
		margin-right: 21em;
	}

	.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right,
	.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
		margin-left: 21em;
	}
	.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push,
	.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal {
		width: auto;
	}
	
	/* disable "dismiss" on wide viewports */
	.ui-panel-dismiss {
		display: none;
	}
	/* same as the above but for panels with display mode "push" only */
	.ui-panel-dismiss-display-push {
		display: none;
	}
	.ui-panel-content-wrap-closed{
		margin-right:4em
	}
}
